* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(244, 240, 231);
    padding: 0px;
    margin: 0px;
}

#header {
    padding: 2px;
    border-bottom: 8px solid #581845;
    border-top: 8px solid black;
    text-indent: 10px;
    background-color: #beb7b7dc;
    
}

#header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-weight: bolder;
    font-size: 18px;
}

#header nav ul {
    list-style-type: none;
}

#header nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-weight: bold;
}

h1 {
    color: #312c2f;
    display: inline-block;
    font-family: 'Style Script', cursive;
    font-size: 35px;
    
}

a {
    text-decoration: none;
    color: #312c2f;
}

.website-name {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

main {
    padding: 20px 0;
  }  

img {
    display: block;
    margin: 20px auto;
    max-width: 32%;
    height: auto;
}

.caption {
    font-size: 15px;
    text-align: center;
    font-style: italic;
}

.footer {
    text-align: center;
    padding: 0px;
    background-color: rgb(244, 240, 231);
    border-top: 3px solid rgb(168, 86, 143);
}

.footer-container {
    padding: 0px;
    background-color: rgb(244, 240, 231);
}

#contact {
    font-size: 25px;
    padding: 35px;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }

.submit {
   text-align: center; 
   padding: 20px;
}

.submit-pointer {
    cursor: pointer;
}

.copyright {
    background-color: rgb(168, 86, 143); 
    padding: 20px;
    position: static;
    height: 75px;
    border: solid;
    border-width: 8px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #581845;
    
}